.Main {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  height: 100vh;
  width: 100vw;
  color: #c5c6c7;
  align-items: center;
}

.container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.navigation {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.65);
  backdrop-filter: blur(5px);
  width: 100%;
  padding: 1.25rem 3rem;
  box-sizing: border-box;
  z-index: 10;
  display: flex;
  justify-content: center;
}

.Main .container .navigation ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  padding: 0;
  margin: 0;
  color: #c5c6c7;
  font-weight: bold;
  width: 100%;
  max-width: 110rem;
}

.Main .container .navigation ul li.logout {
  cursor: pointer;
}

.Main .container .outlet {
  flex-grow: 1;
  padding: 2.5rem 1rem;
  box-sizing: border-box;
  overflow-x: hidden;
  background-color: #171717;
  height: 100vh;
  width: 100%;
  scroll-behavior: smooth;
  z-index: 1;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}

a {
  color: inherit;
  text-decoration: none;
}

.leftNav {
  display: flex;
  gap: 1rem;
  align-items: center;
  width: 70%;
}

.searchCont {
  display: flex;
  align-items: center;
  gap: 1rem;
  background-color: white;
  border-radius: 100rem;
  padding: 0.5rem 1rem;
  width: 50%;
  cursor: text;
}

.searchBox {
  outline: none;
  border: none;
  font-family: "Century Gothic";
  font-size: medium;
  width: 100%;
}

.navLogo {
  font-size: 1.85rem;
  color: #55a3ff;
}

.logReg {
  color: #55a3ff;
  display: flex;
  align-items: center;
  font-size: 1rem;
  gap: 1rem;
}

.filterBut {
  padding: 0.5rem 1.5rem;
  border-radius: 100rem;
  font-size: 1rem;
  background-color: #404040;
  color: white;
  cursor: pointer;
}

.login {
  background-color: #55a3ff;
  color: white;
  border-radius: 100rem;
  padding: 0.5rem 1.5rem;
  border-radius: 100rem;
  font-size: 1rem;
  cursor: pointer;
}

.gearDash {
  display: flex;
  padding: 1rem;
  border-radius: 100rem;
  justify-content: center;
  align-items: center;
  background-color: #2c2c2c;
  width: 1rem;
  height: 1rem;
  color: #55a3ff;
  cursor: pointer;
}

.rightNav {
  display: flex;
  align-items: center;
  justify-content: end;
  gap: 4rem;
  width: 30%;
}

.welName {
  display: flex;
  white-space: nowrap;
  color: white;
}

.welcome-msg {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 10rem;
  flex-direction: row;
  gap: 1rem;
}

.pfpContainer {
  background-color: #55a3ff;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 3rem;
  height: 3rem;
  padding: 0;
  border-radius: 100rem;
  cursor: pointer;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.abso {
  position: relative;
}

.modall {
  width: 3rem;
  position: absolute;
  top: 120%;
  left: -50%;
  transform: translate(-50%, 0);
  background-color: #494949;
  padding: 1rem 3rem;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  z-index: 1000;
  cursor: pointer;
  color: #ffffff;
}

.modall:hover {
  background-color: #252525;
}

.searchRem {
  background-color: #55a3ff;
  width: 100%;
  display: flex;
  justify-content: center;
}

.absolute-search-box {
  position: absolute;
  top: 5rem;
  width: 50%;
  min-height: 20rem;
  max-width: 90rem;
  background: rgba(0, 0, 0, 0.822);
  border-radius: 1rem;
  z-index: 1000;
  padding: 10rem;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  max-height: 40rem;
  overflow: auto;
  padding: 1rem;
}

.filteredCont {
}

.filteredAnime {
  background-color: #00000094;
  border: 1px solid #549eff;
  padding: 0.5rem;
  cursor: pointer;
  margin-bottom: 1rem;
  border-radius: 1rem;
  display: flex;
  align-items: center;
  gap: 1rem;
}

.filteredAnime:hover {
  background-color: rgb(0, 11, 22);
}

.typetextCont {
  display: flex;
  width: 100%;
  justify-content: center;
  color: white;
}

.animePosterCardImgg {
  max-width: 100px;
  object-fit: cover;
  transition: filter 0.3s ease;
  overflow: hidden;
  border-radius: 0.5rem;
}

.imageTextSearch {
  font-size: 1.5rem;
}

.searchedName {
  font-size: larger;
  font-weight: bold;
}

.searchedOverview {
  font-size: large;
}
