.whole {
  padding: 3rem 0rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.wholeCont {
  width: 90%;
}

.featured-list-container {
  display: flex;
  justify-content: center;
  align-content: end;
  width: 100%;
  height: 35rem;
  margin-bottom: 1rem;
  position: relative;
  overflow: hidden;
  transition: transform 0.5s ease-in-out;

}

.sliding {
  transition: transform 0.5s ease-in-out;
}

.featuredArrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 2rem;
  color: white;
  z-index: 2;
  cursor: pointer;
}

.left {
  left: 2%;
}

.right {
  right: 2%;
}

.bdTextCont {
  text-align: start;
  position: absolute;
  bottom: 10%;
  left: 5% ;
  width: 45%;
}

.featured-movie-title {
  font-weight: bold;
  font-size: 2.5rem;
  width: 100%;
  padding: 1rem;
  color: rgb(255, 255, 255);
  z-index: 1;
  text-shadow: 0.5rem 0.3rem 0.4rem rgba(0, 0, 0, 1);
}

.genreFeatured {
  display: flex;
  align-items: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 80%);
  padding: 0.8rem 1.2rem;
  border-radius: 100rem;
  width: fit-content;
  color: rgba(0, 0, 0, 80%);
  font-size: 0.8rem;
  font-weight: bold;
  white-space: nowrap;
}

.genreList {
  margin-left: 2rem;
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
}

.backdropExtra {
  background-color: rgb(23, 23, 23);
  width: 20%;
}

.featured-backdrop {
  position: relative;
  height: 100%;
  width: 100%;
  display: flex;
  overflow: hidden;
  background-size: cover !important;
  z-index: -1;
}
.page-title {
  font-size: 4.5rem;
}

.list-container {
  display: flex;
  flex-wrap: wrap;
  flex: 1;
  gap: 1rem;
}

.featuredDetails {
  display: flex;
  gap: 1rem;
  font-size: 1.2rem;
  margin-left: 2rem;
  margin-bottom: 1.5rem;
  color: white;
}

.featuredPlay {
  color: #55a3ff;
}

.featuredDate {
  color: #ff5555;
}

.featuredStar {
  color: #fcff55;
}

.featuredClock {
  color: #bbbbbb;
}

.featuredDetails {
  display: flex;
  align-items: center;
  font-size: 0.8rem;
}

.featuredRight {
  font-size: 1rem;
}

.featuredDetailButton {
  margin-top: 1.5rem;
  margin-left: 2rem;
  color: rgba(255, 255, 255,80%);
  display: flex;
  align-items: center;
  gap: 0.5rem;
  background-color: rgba(85, 163, 255, 80%);
  width: fit-content;
  padding: 0rem 1.2rem;
  border-radius: 100rem;
  font-weight: bold;
  cursor: pointer;
  font-size: 0.8rem;
}

.featuredOverview {
  color: white;
  margin-top: 1.5rem;
  margin-left: 2rem;
}

.featuredNumber {
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 2rem;
  color: rgba(85, 163, 255,);
}

.ratedAnimeList {
  display: flex;
  overflow-x: auto;
  gap: 1.5rem;
  padding-right: 9rem;
}

.animeTitle {
  display: flex;
  font-weight: bold;
  font-size: 2rem;
}
