.animeFormCont {
  margin-top: 3rem;
}

.titleForm {
  color: rgba(85, 163, 255);
  font-size: 3.5rem;
}

.searchWholeCont {
  margin-top: 2rem;
  display: flex;
  justify-content: center;
}

.searchedMovie {
  max-height: 25rem;
  display: flex;
  overflow-y: auto;
  gap: 1rem;
  width: 80%;
  padding: 1rem;
}

.lineBreakCont {
  display: flex;
  justify-content: center;
}

.lineBreak {
  width: 100%;
  margin: 3rem 0rem;
  max-width: 110rem;
}

.searchedPosterImage {
  width: 100px;
  height: auto;
}

.searchedMovieCont {
  background-color: rgb(36, 36, 36);
  width: 200px;
  height: 20rem;
  padding: 1.3rem 1.5rem;
  max-width: 300px;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  font-weight: bold;
  margin-bottom: 2rem;
  overflow: auto;
  border: 2px solid rgb(111, 128, 138);
  border-radius: 1rem;
}

.searchedAnimeButton {
  background-color: rgba(85, 163, 255);
  border-radius: 100rem;
  padding: 0.5rem 1.5rem;
  color: rgb(19, 19, 19);
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.searchedAnimeButton:hover {
  background-color: rgb(35, 84, 141);
  color: white;
  transform: scale(1.05);
}

.searchedMovieCont p {
  margin-top: 1rem;
  word-wrap: break-word;
  text-align: center;
}

.searchedPosterImage {
  width: 100px;
  height: 150px;
  object-fit: cover;
  border-radius: 0.5rem;
}

.container {
  overflow-y: auto;
}

.searchBarCont {
  font-size: 1.5rem;
  font-weight: bold;
  display: flex;
  justify-content: center;
}

.searchBarDes {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: white;
  border-radius: 100rem;
  padding: 0.5rem 1rem;
  gap: 1rem;
}

.searchBar {
  display: flex;
  gap: 1rem;
  width: 80%;
  justify-content: space-around;
  padding: 1rem;
}

.searchBar input {
  outline: none;
  border: none;
  font-family: "Century Gothic";
  font-size: medium;
  width: 100%;
}

.searchBarButton {
  width: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  color: white;
  background-color: rgba(85, 163, 255);
  border-radius: 100rem;
  cursor: pointer;
  padding: 0.5rem 1.5rem;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.searchBarButton:hover {
  background-color: rgb(35, 84, 141);
  color: white;
  transform: scale(1.05);
}

.paginationCont {
  display: flex;
  justify-content: center;
  margin: 2rem 0rem;
}

.pagination {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.pagination span {
  font-size: larger;
  font-weight: bold;
}

.paginationArrow {
  all: unset;
  background-color: rgb(83, 83, 83);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1.5rem;
  height: 1.5rem;
  padding: 1rem;
  border-radius: 100rem;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.paginationArrow:hover {
  background-color: rgb(35, 84, 141);
  color: white;
  transform: scale(1.05);
}

.vertical-line {
  border-left: 0.3rem solid rgba(85, 163, 255);
  margin: 0 10px;
  border-radius: 100rem;
}

.previewContainer {
  display: flex;
  justify-content: space-between;
  margin-bottom: 5rem;
}

.noSelectedAnime {
  display: flex;
  justify-content: center;
  font-size: 2rem;
  font-weight: bold;
}

.preview {
  background-color: rgb(15, 15, 15);
  border-radius: 1rem;
  padding: 1rem 1rem;
  padding-bottom: 4rem;
  width: 50%;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.objectSelect {
  background-color: rgb(15, 15, 15);
  width: 50%;
  border-radius: 1rem;
  padding: 0rem 2rem;
}

.previewImages {
  position: relative;
  padding: 1rem;
  font-size: 0.5rem;
}

.previewBD {
  max-width: 50rem;
  width: 100%;
  border-radius: 1rem;
}

.previewP {
  width: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50%;
  position: absolute;
  top: 50%;
  left: 20%;
  padding: 1.3rem 2rem;
  border-radius: 1rem;
  background-color: rgba(12, 12, 12, 80%);
}

.previewImg {
  border-radius: 1rem;
  height: 100%;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.5);
}

.previewInputs {
  color: white;
  width: 80%;
  background-color: transparent;
  border: 1px solid #ccc;
  border-radius: 1rem;
  padding: 0rem 0.5rem;
  font-size: 0.7rem;
}

.previewTextsCont {
  width: 50%;
  color: white;
  margin-left: 1rem;
  display: flex;
  flex-direction: column;
}

.previewTitle {
  top: 10%;
  left: 0%;
  all: unset;
  border: 1px solid rgb(190, 190, 190);
  border-radius: 0.5rem;
  padding: 0.5rem;
  width: 100%;
  font-size: 0.7rem;
}

.overviewCont {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: white;
  margin-top: 2rem;
}

.overviewtext {
  display: flex;
  max-width: 50rem;
  width: 100%;
  font-weight: bold;
  overflow: auto;
}

.previewOverview {
  all: unset;
  border: 1px solid rgb(190, 190, 190);
  border-radius: 0.5rem;
  padding: 0.5rem;
  max-width: 50rem;
  height: 7rem;
  width: 100%;
}

.previewContText {
  display: flex;
  justify-content: center;
}

.previewText {
  font-size: 2rem;
  font-weight: bold;
}

.videos-list {
  display: flex;
  overflow-y: auto;
  gap: 1rem;
  font-weight: bold;
  padding: 0rem 1rem;
}

.videos-list2 {
  display: flex;
  overflow-y: auto;
  gap: 1rem;
  font-weight: bold;
  padding: 0rem 1rem;
  margin-top: 2rem;
}

.videoTextCont {
  display: flex;
  justify-content: center;
  font-size: 2rem;
  font-weight: bold;
}

.mediaCont {
  display: flex;
  flex-direction: column;
  padding: 1rem 1em;
}

.videoButton {
  all: unset;
  margin-top: 1rem;
  background-color: rgba(85, 163, 255);
  border-radius: 100rem;
  padding: 0.5rem 1.5rem;
  color: rgb(19, 19, 19);
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
  font-weight: bold;
}

.videoButton:hover {
  background-color: rgb(35, 84, 141);
  color: white;
  transform: scale(1.05);
}

.sectionTitleCont {
  padding: 0rem 1rem;
}

.sectionTitle {
  font-weight: bold;
  font-size: 2rem;
}

.videosCont {
  background-color: rgb(36, 36, 36);
  max-width: 20rem;
  padding: 1.5rem 1.5rem;
  border: 2px solid rgb(111, 128, 138);
  border-radius: 1rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-bottom: 3rem;
  margin-bottom: 1rem;
}

.saveButtonCont {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 2rem;
}

.videoButton2 {
  all: unset;
  width: 30%;
  text-align: center;
  margin-top: 1rem;
  background-color: rgba(85, 163, 255);
  border-radius: 100rem;
  padding: 1.5rem 1.5rem;
  color: rgb(19, 19, 19);
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
  font-weight: bold;
  font-size: 1.5rem;
}

.videoButton2:hover {
  background-color: rgb(35, 84, 141);
  color: white;
  transform: scale(1.05);
}

.video-wrapper iframe {
  width: 100%;
  height: 450px;
  aspect-ratio: 16/9;
}

.previewVideMain {
  width: 100%;
  max-width: 50rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.prevVidTitle {
  font-weight: bold;
  font-size: 1.5rem;
}

.previewVideoDes {
  display: flex;
  gap: 1rem;
  white-space: nowrap;
  justify-content: space-between;
}

.castMainContainer {
  width: 100%;
  height: fit-content;
  overflow: auto;
}

.castContainer {
  display: flex;
  text-align: center;
  font-weight: bold;
  gap: 1rem;
  margin-bottom: 1rem;
}

.castImage {
  border-radius: 1rem;
  width: 8rem;
}

.castBorder {
  height: fit-content + 10rem;
  background-color: rgb(36, 36, 36);
  padding: 2rem;
  border-radius: 1rem;
  border: 2px solid rgb(111, 128, 138);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.imageImage {
  border-radius: 1rem;
  width: 14rem;
}

.imageBorder {
  height: fit-content + 10rem;
  background-color: rgb(36, 36, 36);
  padding: 2rem;
  border-radius: 1rem;
  border: 2px solid rgb(111, 128, 138);
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.castTextCont {
  font-weight: bold;
  max-width: 50rem;
  width: 100%;
}

.borderRadius {
  border-radius: 1rem;
}
