.lists-container {
  font-size: 1rem;
  color: white;
  background-color: #121212;
  padding: 20px;
  border-radius: 10px;
  margin-top: 3rem;
}

.searchBarCont {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.searchBar {
  display: flex;
  align-items: center;
  padding: 10px;
  border-radius: 5px;
  width: 400px;
}

.searchBarDes {
  display: flex;
  align-items: center;
  color: rgba(85, 163, 255, 80%);
  margin-right: 10px;
}

.searchBar input {
  background-color: transparent;
  border: none;
  color: rgb(0, 0, 0);
  outline: none;
  font-size: 16px;
  flex-grow: 1;
  padding: 5px 10px;
  margin-left: 5px;
}

.searchBar input::placeholder {
  color: rgba(255, 255, 255, 0.6);
}

.searchBarButton {
  color: rgba(85, 163, 255, 80%);
  font-weight: bold;
  cursor: pointer;
}

.create-container {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.create-container button {
  background-color: rgba(85, 163, 255, 80%);
  color: white;
  padding: 1rem 2rem;
  border: none;
  border-radius: 100rem;
  cursor: pointer;
  font-size: 1.5rem;
  transition: background-color 0.3s;
}

.create-container button:hover {
  background-color: rgba(85, 163, 255, 100%);
}

.table-container {
  overflow-x: auto;
}

.movie-lists {
  width: 100%;
  border-collapse: collapse;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.movie-lists th,
.movie-lists td {
  padding: 12px;
  text-align: left;
}

.movie-lists th {
  background-color: rgba(85, 163, 255, 80%);
  text-align: center;
  color: white;
}

.movie-lists td {
  background-color: #1f1f1f; /* Slightly lighter background for rows */
  color: white;
  text-align: center;
}

.movie-lists tr:nth-child(even) td {
  background-color: #242424;
}

.movie-lists tr:hover td {
  background-color: rgba(85, 163, 255, 0.2);
}

.movie-lists button {
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
  margin-right: 10px;
  transition: background-color 0.3s;
  font-weight: bold;
  border-radius: 100rem;
}

.greenButton {
  color: rgb(0, 48, 0);
  background-color: rgb(104, 223, 104);
}

.redButton {
  color: rgb(43, 4, 4);
  background-color: rgb(197, 58, 58);
}

.movie-lists button:hover {
  background-color: rgba(85, 163, 255, 100%);
}
