.movieDetMain {
  padding: 3rem 0rem;
  height: 100vh;
}

.backdropCont {
    display: flex;
    justify-content: center;
    background-color: blue;
    width: 100%;
}

.bd {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    overflow: hidden;
    object-fit: contain;
}

.bdImage {
    width: 100%;

}

.movPoster {
  width: 10rem;
}
