.viewWhole {
  /* background-color: rgba(23, 23, 23, 1); */
}

.bdMainCont {
  display: flex;
  justify-content: center;
}

.featured-list-containers {
  margin-top: 3rem;
  display: flex;
  justify-content: center;
  align-content: end;
  width: 90%;
  max-width: 110rem;
  height: 40rem;
  margin-bottom: 1rem;
  position: relative;
  overflow: hidden;
}
.bdTextConts {
  text-align: start;
  position: absolute;
  bottom: 25%;
  left: 5%;
  width: 70%;
  z-index: 10;
}

.featured-movie-titles {
  font-weight: bold;
  font-size: 3.5rem;
  width: 100%;
  padding: 1rem;
  color: rgb(255, 255, 255);
  z-index: 1;
  text-shadow: 0.5rem 0.3rem 0.4rem rgba(0, 0, 0, 1);
}

.featured-backdrops {
  position: relative;
  height: 100%;
  width: 100%;
  display: flex;
  overflow: hidden;
  background-size: cover !important;
  z-index: 0;
}
.featuredDetailss {
  display: flex;
  gap: 2rem;
  font-size: 1.7rem;
  margin-left: 2rem;
  margin-bottom: 1.5rem;
  text-shadow: 0.5rem 0.3rem 0.4rem rgba(0, 0, 0, 1);
  color: white;
}

.heroSection {
  width: 100%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  padding: 20px;
}

.heroContent {
  display: flex;
  gap: 2rem;
  width: 100%;
  max-width: 110rem;
}

.titleContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 60%;
}

.synopsis {
  font-size: 3rem;
  font-weight: bold;
}

.animeOverview {
  font-size: 1.5rem;
}

.animeDetails {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  gap: 1rem;
  font-size: 1.5rem;
  margin-bottom: 1.5rem;
}

.linee {
  border-bottom: 2px solid white;
  width: 100%;
  margin: 10px 0;
}

.posterContainer {
  width: 40%;
}

.animePoster {
  width: 100%;
  height: auto;
  border-radius: 1rem;
}

.strongText {
  font-size: 1.5rem;
}

.otherDet {
  font-size: 1.5rem;
}

.backdropImage {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  z-index: -1;
}

.titlePlaceholder {
  margin-top: 3rem;
  display: flex;
  justify-content: center;
  font-size: 2rem;
}

.titletext {
  width: 100%;
  max-width: 110rem;
}

.wholeCastSect {
  display: flex;
  justify-content: center;
}

.castSection {
  padding: 20px;
  width: 100%;
  max-width: 110rem;
  max-height: 40rem;
  overflow-y: scroll;
}

.castGrid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 20px;
  padding: 5rem 3rem;
  border-radius: 2rem;
  background-color: #222222;
}

.castCard {
  width: 14rem;
  text-align: center;
}

.castImage {
  width: 150px;
  height: auto;
  object-fit: cover;
}
.castInfo {
  padding-top: 10px;
}

.videoSection {
  text-align: center;
  padding: 20px;
}

.iframe {
  width: 70%;
  max-width: 110rem;
  height: auto;
  aspect-ratio: 16 / 9;
}

/* Media Section */

.mediaSection {
  padding: 20px;
  display: flex;
  justify-content: center;
}

.mediaSec {
  display: flex;
  justify-content: center;
  width: 100%;
  max-width: 110rem;
  border-radius: 2rem;
  background-color: #222222;
  padding: 5rem 0rem;
}

.imageGallery {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.galleryItem {
  width: 200px;
  cursor: pointer;
  text-align: center;
  position: relative;
  overflow: hidden;
  border-radius: 1rem;
}

.mediaImage {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 1rem;
  cursor: pointer;
  transition: all 0.3s ease;
}

.galleryItem:hover .mediaImage {
  transform: scale(1.05);
}

.galleryItem::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0);
  border-radius: 1rem;
  transition: background-color 0.3s ease;
}

.galleryItem:hover::after {
  background-color: rgba(0, 0, 0, 0.5);
}

.mediaImage:hover {
  background-color: #1313132d;
}

.imageGallery {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.viewMore {
  width: 200px;
  height: 200px;
  color: #fff;
  font-size: 3rem;
  border-radius: 1rem;
  cursor: pointer;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
  background-size: cover;
  background-position: center;
}

.viewMore::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
}

.viewMore span {
  position: relative;
  z-index: 2;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 50;
}

.modalContent {
  background-color: #000000ec;
  padding: 20px;
  border-radius: 10px;
  max-width: 90%;
  max-height: 90%;
  overflow-y: auto;
}

.closeButtonContainer {
  display: flex;
  width: 100%;
  justify-content: end;
}

.closeButton {
  background-color: red;
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
  margin-bottom: 10px;
}

.allImages {
  width: 100%;
  gap: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.modalImageItem {
  height: 200px;
  width: 200px;
  border-radius: 1rem;
  position: relative;
  overflow: hidden;
  cursor: pointer;
}

.modalImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 1rem;
  transition: all 0.3s ease;
  cursor: pointer;
}

.modalImageItem:hover .modalImage {
  transform: scale(1.05);
}

.modalImageItem::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0);
  transition: background-color 0.3s ease;
}

.modalImageItem:hover::after {
  background-color: rgba(0, 0, 0, 0.5);
}

.modalImage:hover {
  background-color: #1313132d;
}

/* aaaaaaaaaaaaaaaaaa */

.productionCompaniesSection {
  padding: 20px;
  width: 100%;
  max-width: 110rem;
}

.productionCompaniesGrid {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  justify-content: center;
}

.productionCompanyCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1px solid #ddd;
  padding: 1rem 3rem;
  border-radius: 8px;
  background-color: #f5f5f5;
  transition: transform 0.3s;
  max-width: 5rem;
}

.productionCompanyCard:hover {
  transform: translateY(-5px);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

.flexComp {
  display: flex;
  justify-content: center;
}

.companyLogo {
  width: 100px;
  height: auto;
  margin-bottom: 10px;
}

.companyInfo {
  text-align: center;
}

.compName {
  color: #2b2b2b;
}

.companyInfo h3 {
  font-size: 16px;
  margin-bottom: 5px;
}

.companyInfo p {
  font-size: 14px;
  color: #666;
}

/* Com Sec */

.comWholeCont {
  display: flex;
  width: 100%;
  justify-content: center;
}

.comCont {
  width: 100%;
  max-width: 110rem;
}

.commentsSection {
  padding: 20px;
  border-radius: 8px;
}

.commentInputSection {
  display: flex;
  align-items: flex-start;
  margin-bottom: 3rem;
  align-items: center;
}

.userPfp {
  width: 75px;
  height: 75px;
  border-radius: 50%;
  margin-right: 15px;
}

.commentInput {
  flex-grow: 1;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 8px;
  resize: none;
  font-size: 1.5rem;
}

.commentButton {
  margin-left: 15px;
  padding: 2rem;
  border: none;
  background-color: #007bff;
  color: white;
  border-radius: 100rem;
  cursor: pointer;
  font-size: 1rem;
  width: 1px;
  height: 1px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.planeIcon {
  font-size: x-large;
}

.commentButton:hover {
  background-color: #0056b3;
}

.loginPrompt p {
  font-size: 1rem;
  color: #ffffff;
  margin-bottom: 5rem;
}

/* Actual comments */
.commentsList {
  margin-top: 20px;
}

.pfpNameDateCol {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
}

.commentCard {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  margin-bottom: 20px;
  padding: 1.5rem 2rem;
  background: #111111;
  border: 1px solid #464646;
  border-radius: 8px;
}

.commentPfp {
  width: 75px;
  height: 75px;
  border-radius: 50%;
  margin-right: 15px;
}

.commentContent {
  flex-grow: 1;
}

.commentHeader {
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px;
}

.commentAuthor {
  font-size: 1.5rem;
  font-weight: bold;
  color: #ffffff;
}

.commentDate {
  font-size: 1.5rem;
  color: #ffffff;
}

.commentText {
  font-size: 1.5rem;
  color: #ffffff;
  margin-left: 1rem;
}

.pandName {
  display: flex;
  align-items: center;
}

.noComments {
  display: flex;
  justify-content: center;
}

.noCommentsMessage {
  font-size: 2rem;
}
